body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}
.f-info-links a{
    color: #222222;
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
}



/* Cards */
.row {
    width: 100% !important;
}
.listing-card {
    border: none !important;
    margin: 1rem ;  
}
.index-img {
    opacity: 1;
}
.index-img:hover {
    opacity: 0.85 !important;
}
.card-img-overlay {
    text-align: left !important;
    opacity: 0;
    color: black;
}
.card-img-overlay:hover {
    opacity: 1;
    font-style: bold !important;
    color: black;
    transition: opacity 0.3s ease-in-out;
    font-size: 1rem !important;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
}
.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    border: 0;
    
    padding: 0 !important;
    text-decoration: none !important;
    background-color: transparent ;
    /* display: inline-block !important; */
}

/* New Form*/

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}
/* Edit Form */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/*show page */
.show-img {
    height: 30vh;
}
.btns {
    display: flex;
}
.show-card {
    padding-left: 0;
    padding-right: 0;
}
.show-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
}